.qwer{
    border: 1px solid silver;
    display: flex;
    margin-top: 20px;
}
span.welcome{
    color: blue;
    text-decoration: underline;
}

.qwer1{
    text-align: center;
    border-top:1px solid silver;
    border-bottom :1px solid silver;
    
}
.table121{
   text-align: center;
   }
   
.migi{
    text-align: right;
    margin-top: 66px;
   
}

.qw{
    border:1px solid blue;
    height: 80px;
    width: 1000px;
    display: flex;
    background-color: blue;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
}

.col1{
    color: green;
    }

.rw11{
    table-layout: auto;
    border: 1px;
    width: 100px;
}

.aa11{
    width: auto; 
    height:auto; 
  }
  
    
