.qwer{
    border: 1px solid silver;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
span.welcome{
    color: blue;
    text-decoration: underline;
}

.qwer1{
    text-align: center;
    border-top:3px solid silver;
    border-bottom :3px solid silver;
    
}
.table121{
   text-align: center;
   align-content: right;
   margin:auto;
   padding-left: 50px;
   }
.table121,td{
    text-align: center;

}  
.migi{
    text-align: right;
    margin-top: 8px;
    
   
}

.qw{
    border:1px solid blue;
    height: 80px;
    width: 1000px;
    display: flex;
    background-color: blue;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
}

.col1{
    color: green;
    
    }

.rw11{
    
}

.aa11{
    border: 1px
  }
  
.table01{
   display: flex;
   justify-content: right;
   border-collapse: collapse; 
   text-align: center;
   
} 
.table01 td{
 border: 1px solid black;
 border-collapse: collapse;  
 
}
.table1{ 
   display:flex;
   justify-content: center;
   height: auto;
   width: auto;
   margin-top: 50px;
   border-collapse: collapse; 
   border-spacing: 0;
   
}
.table1 td{
 text-align: left;
 border-top:2px solid green;
 border-right: 2px solid green;
 border-left:  2px solid green;
 border-bottom: 2px solid green;
 border-collapse: collapse; 
 border-spacing: 0;
}
.table2{
    
    height:auto;
    width:auto;
    text-align:left;
}
.title0{
    display: flex;
    text-align: center;
    font-size: 200%;
    margin-bottom: -41px;
}
.title0{
    text-align:left;
}
body{
    margin : 100px
}
.photo1{
    object-fit: contain;  
}
